<% if flash %>
  <%=flash[:message]%>
<% end %>

<h1>New Relationship</h1>

<%= form_for @relationship do |f|%>
    <%=f.label :family_id, "Family" %>
    <%=f.collection_select(:family_id, Family.all, :id , :name )%> <br>
    <%=f.label :relationship_type%>
    <%=f.collection_select(:relationship_type, ["child", "parent", "grandparent", "grandchild", "cousin", "aunt/uncle", "niece/nephew"], :to_s , :to_s )%> <br>
    <%=f.hidden_field :user_id, value: current_user.id %>
    <%=f.submit%>
<% end %>
