<% if flash %>
  <%=flash[:message]%>
<% end %>

<h1>Edit account information</h1>

<%=form_for @user do |f|%>
    <%=f.label :name %>
    <%=f.text_field :name %> <br><br>
    <%=f.label :born %>
    <%=f.date_field :born %> <br><br>
    <%=f.label :died %>
    <%=f.date_field :died %> <br><br>
    <%=f.submit%>
<% end %>