<h1><%=@user.name%></h1>

<h2><%= link_to "Families:", families_path %> </h2> 
<ul>
  <% @user.families.each do |family| %>
    <li><%= link_to family.name, family_path(family)%></li> <br>
  <% end %>
</ul>

<h2>Born: <%=@user.born.strftime("%B %e, %Y")%></h2>

<% if @user.alive ==false %>
  <h2>Died: <%=@user.died.strftime("%B %e, %Y")%></h2>
<% end %>

<h2> <%=link_to 'Relationships', relationships_path%>:</h2>

<ul>
  <% @user.relationships.each do |relationship| %>
    <li><%= relationship.relationship_type.capitalize%> in <%= link_to relationship.family.name, family_path(relationship.family)%></li> <br>
  <% end %>
</ul>

<% if session[:user_id] == @user.id %>
    <%= button_to "Edit User", edit_user_path(@user), method: :get %>
    <br>
    <%=form_tag("/users/#{@user.id}", method: :delete) do %> 
        <%=submit_tag("Delete User")%>
    <% end %>
<% end %>